<h1>Create User</h1>
<form action="/api/user" method="post">
    <label for="POST-name">Name:</label>
    <input type="text" id="POST-name" name="name">
    <label for="POST-surname">Surname:</label>
    <input type="text" id="POST-surname" name="surname">
    <input type="submit" value="createUser">
</form>