<h1>user page</h1>

<a href="/api/user">
    <h3>getUsers</h3>
</a>
<a href="/createUser">
    <h3>createUser</h3>
</a>

{{!-- <form action="/api/user">

</form> --}}

{{!-- {{#if users.length}}
<ul>
    {{#each users}}
    <li>{{name}} {{surname}} - id {{id}};</li>
    {{/each}}
</ul>
{{else}}
<p>Users not found</p>
{{/if}} --}}